*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Eclipse/Editor
__pycache__
.settings
.project
.pydevproject
.tags

# google-api-python-client-gae-x.y
apiclient
httplib2
oauth2client
uritemplate
gflags.py
gflags_validators.py

# file containing your GAE developer API key & secrets.
client_secrets.json
